@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

body {
  font-family: 'Oswald', sans-serif !important;
}

body {
background-color: #5F939A;
}

h1{
  background-color: #F2EDD7;
}

.defaultfontsize{
  font-size: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.delete{
  position: absolute;
  top: 1px;
}

.higher{
  margin-bottom: 1px;
}

.row{
  position: relative;
}

.field1{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 18px;
}

.field2{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.minima{
  column-gap: 3px;
  min-height: 180px!important;
  background-color: #F2EDD7;
}

.btnadd{
  font-size: 30px!important;
  background-color: #3A6351;
  border-color:#3A6351;
  color: #F2EDD7;
}

.btnadd:focus{
  background-color: #3A6351;
  border-color:#3A6351;
  color: #F2EDD7;
}

.btnclear{
  font-size: 18px;
  background-color: #A0937D;
  border-color: #A0937D;
  color: #F2EDD7;
}

.btnclear:focus{
  background-color: #A0937D;
  border-color: #A0937D;
  color: #F2EDD7;
}

.inputfield{
  background-color: #F2EDD7;
  border: none;
  font-size: 20px;
}

.clock {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: #fff;
  border-radius: 100%;
  border: 10px solid #34626c;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 500px;
}
.clock .top {
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #262626;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.clock .right {
  position: absolute;
  width: 8px;
  height: 3px;
  background-color: #262626;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.clock .bottom {
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #262626;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.clock .left {
  position: absolute;
  width: 8px;
  height: 3px;
  background-color: #262626;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.clock .center {
  height: 6px;
  width: 6px;
  background-color: #262626;
  border-radius: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.clock .hour {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 3600s infinite linear;
}
.clock .hour:before {
  content: "";
  height: 60px;
  width: 3px;
  background-color: #262626;
  position: absolute;
  top: 30px;
}

.clock .minute {
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 360s infinite linear;
}
.clock .minute:before {
  position: absolute;
  content: "";
  background-color: #262626;
  height: 40px;
  width: 1px;
  top: 50px;
}
.clock .second {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 15s infinite linear;
}
.clock .second:before {
  position: absolute;
  content: "";
  background-color: #fd1111;
  height: 45px;
  width: 2px;
  top: 45px;
}

@keyframes time {
  to {
    transform: rotate(360deg);
  }
}